@media (max-width: 1095px) {
    .education-main{
        flex-direction: column;
        align-items: center;
    }
    
    .education-content{
        width: 100% !important;
    }
    
}

@media (max-width: 778px) {
    .education-bigtext{
        font-size: 30px !important;
    }
}